@function pxtorem($px) {
    @return $px / 750 * 30rem;
}
// @font-face {
//     font-family: 'text';
//     src: url('../img/FZZJ-SHXSJW.TTF') format('truetype'),
// }
@font-face {
  font-family: 'text';
  src: url('../img/fzzj-shxsjw.woff') format('woff'),
}
html,
    body {
      position: relative;
      height: 100%;
	    overflow: hidden;
    }
    p{
        position: 0;
        margin: 0;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
    .logo{
        position: absolute;
        width: pxtorem(290);
        height: pxtorem(60);
        background: url(../img/logo.png) no-repeat;
        background-size: 100% 100%;
        left: pxtorem(20);
        top: pxtorem(30);
        z-index: 99;
    }
    .audio{
      position: absolute;
      width: pxtorem(60);
      height: pxtorem(60);
      background: url(../img/audio.svg) no-repeat;
      background-size: 100% 100%;
      right: pxtorem(30);
      top: pxtorem(30);
      z-index: 99;
    }
    .text2024Logo{
      position: absolute;
      width: pxtorem(142);
      height: pxtorem(62);
      background: url(../img/2024Text.png) no-repeat;
      background-size: 100% 100%;
      right: pxtorem(20);
      top: pxtorem(30);
      z-index: 90;
    }
    .zz{
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #000;
      opacity: 0.6;
      z-index: 9998;
      display: none;
    }
    .logoCenter{
      position: absolute;
      width: pxtorem(290);
      height: pxtorem(60);
      background: url(../img/logo.png) no-repeat;
      background-size: 100% 100%;
      top: pxtorem(20);
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }
    .Pop{
      width: 80%;
      height: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #fff;
      z-index: 9999;
      display: none;
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
      P{
        position: absolute;
        bottom: pxtorem(-50);
        width: 100%;
        font-size: pxtorem(26);
        text-align: center;
        color: #fff;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #9d1416;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .page-bg{
      position: absolute;
      background: url(../img/3-bg.png);
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      z-index: 9999;
      .login{
        position: absolute;
        background: url(../img/login.gif);
        width: pxtorem(500);
        height: pxtorem(500);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .text{
          font-size: pxtorem(40);
          letter-spacing: 2px;
          color: rgb(255, 235, 202);
          line-height: 1.4;
          text-align: center;
          position: absolute;
          bottom: pxtorem(-40);
          width: 100%;
        }
      }
      
    }
    .page1-bg{
      position: absolute;
      background: url(../img/3-bg.png);
      width: 100%;
      height: pxtorem(1008);
      background-size: 100% 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .fan{
        width: pxtorem(72);
        height: pxtorem(605);
        position: absolute;
        background: url(../img/fan.png);
        background-size: 100% 100%;
        top: pxtorem(-134);
        right: pxtorem(54);
        z-index: 3;
        opacity: 0;
      }
      .fu{
        width: pxtorem(341);
        height: pxtorem(383);
        position: absolute;
        background: url(../img/fu.png);
        background-size: 100% 100%;
        top: 42%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%,-50%) scale(1.1 1.1);
        opacity: 0;
      }
      .textFrame{
        .text{
            font-family: "text";
            font-size: pxtorem(96);
            letter-spacing: 10px;
            color: rgb(255, 215, 153);
            writing-mode: vertical-rl;
            position: absolute;
            top: pxtorem(164);
            left: pxtorem(220);
            z-index: 3;
            opacity: 0;
        }
        .text2{
            font-family: "text";
            font-size: pxtorem(96);
            letter-spacing: 10px;
            color: rgb(255, 215, 153);
            writing-mode: vertical-rl;
            position: absolute;
            right: pxtorem(206);
            top: pxtorem(374);
            z-index: 3;
            opacity: 0;
        }
      }
      .newYear{
        width: pxtorem(157);
        height: pxtorem(45);
        position: absolute;
        background: url(../img/newyear.png);
        background-size: 100% 100%;
        top: pxtorem(70);
        left: pxtorem(60);
        z-index: 3;
        display: none;
      }
      .footer{
        width: 100%;
        height: pxtorem(214);
        position: absolute;
        background: url(../img/1-footer.png);
        background-size: 100% 100%;
        top: pxtorem(730);
        left: 0;
        z-index: 3;
        opacity: 0;
      }
    }
    .page2-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(120);
            left: pxtorem(-180);
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(229);
            height: pxtorem(108);
            background: url(../img/cloud2.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(528);
            right: pxtorem(-142);
            z-index: 3;
            opacity: 0;
        }
        .cloud3{
            width: pxtorem(229);
            height: pxtorem(108);
            background: url(../img/cloud2.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(828);
            left: pxtorem(-110);
            z-index: 3;
            opacity: 0;
        }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(938);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(64);
              left: pxtorem(164);
              z-index: 3;
              opacity: 0;
          }
          .text2{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(274);
              left: pxtorem(74);
              z-index: 3;
              opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(668);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            padding-left: pxtorem(18);
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(27);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .img1{
            width: pxtorem(479);
            height: pxtorem(479);
            background: url(../img/img1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(110);
            right: pxtorem(-114); 
            z-index: 2;
            opacity: 0;
        }
      }
    
      .page3-bg{
        position: absolute;
        width:100%;
        height: pxtorem(1008);
        background: url(../img/3-bg.png);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(60);
            left: pxtorem(-130);
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(229);
            height: pxtorem(108);
            background: url(../img/cloud2.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(290);
            right: pxtorem(-60);
            z-index: 3;
            opacity: 0;
        }
        .fireworks{
          position: absolute;
          background: url(../img/fireworks.gif);
          width: pxtorem(500);
          height: pxtorem(500);
          background-size: 100% 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        // .textFrame11{
        //   position: absolute;
        //   left: 50%;
        //   top: pxtorem(518);
        //   transform: translateX(-50%);
        //   width: 90%;
        //   opacity: 0;
        //   z-index: 99;
        //   .text{
        //       width: 100%;
        //       font-family: "text";
        //       font-size: pxtorem(86);
        //       color: red;
        //       line-height: 1.4;
        //       text-align: center;
        //   }
        // }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(86);
              letter-spacing: 4px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: 0;
              left: pxtorem(218);
              z-index: 3;
              opacity: 0;
          }
          .text2{
              font-family: "text";
              font-size: pxtorem(86);
              letter-spacing: 4px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(144);
              right: pxtorem(210);
              z-index: 3;
              opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(818);
            transform: translateX(-50%);
            width: 90%;
            opacity: 0;
            .text{
                width: 100%;
                font-family: "宋体";
                font-size: pxtorem(25);
                color: rgb(255, 235, 202);
                line-height: 1.6;
                text-align: center;
                font-weight: bold;
            }
          }
        .imgFrame{
          width: pxtorem(514);
          height: pxtorem(326);
          background: url(../img/imgFrame.png);
          background-size: 100% 100%;
          position: absolute;
          top: pxtorem(428);
          left: 50%; 
          transform: translateX(-50%);
          z-index: 3;
        }
        .img2{
            width: pxtorem(500);
            height: pxtorem(315);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(430);
            left: 50%; 
            transform: translateX(-50%);
            z-index: 2;
            border-radius: 15px;
            overflow: hidden;
            // opacity: 0;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
        }
    }

    .page4-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(290);
            right: pxtorem(-138);
            z-index: 3;
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(229);
            height: pxtorem(108);
            background: url(../img/cloud2.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(768);
            left: pxtorem(-70);
            z-index: 3;
            opacity: 0;
        }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(878);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(76);
              letter-spacing: 4px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(30);
              right: pxtorem(80);
              z-index: 3;
              opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(548);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(27);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .img3{
            width: pxtorem(431);
            height: pxtorem(425);
            background: url(../img/img3.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(60);
            left: pxtorem(-20); 
            z-index: 2;
            opacity: 0;
        }
    }

    .page5-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(110);
            left: pxtorem(-180);
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(528);
            right: pxtorem(112);
            z-index: 3;
            opacity: 0;
        }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(918);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(54);
              left: pxtorem(164);
              z-index: 3;
              opacity: 0;
          }
          .text2{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(264);
              left: pxtorem(74);
              z-index: 3;
              opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(728);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            padding-left: pxtorem(18);
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(27);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .img4{
            width: pxtorem(629);
            height: pxtorem(629);
            background: url(../img/img4.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(70);
            right: pxtorem(-254); 
            z-index: 2;
            opacity: 0;
        }
      }

    .page6-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(450);
            right: pxtorem(-158);
            z-index: 3;
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(190);
            height: pxtorem(120);
            background: url(../img/cloud4.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(788);
            left: pxtorem(-110);
            z-index: 3;
            opacity: 0;
        }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(898);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 4px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(160);
              right: pxtorem(50);
              z-index: 3;
              opacity: 0;
          }
          .text2{
            font-family: "text";
            font-size: pxtorem(80);
            letter-spacing: 4px;
            color: rgb(255, 215, 153);
            writing-mode: vertical-rl;
            position: absolute;
            top: 0;
            right: pxtorem(140);
            z-index: 3;
            opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(578);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(27);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .img5{
            width: pxtorem(429);
            height: pxtorem(424);
            background: url(../img/img5.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(90);
            left: pxtorem(-20); 
            z-index: 2;
            opacity: 0;
        }
    }

    .page7-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(110);
            left: pxtorem(-180);
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(528);
            right: pxtorem(112);
            z-index: 3;
            opacity: 0;
        }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(948);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(54);
              left: pxtorem(164);
              z-index: 3;
              opacity: 0;
          }
          .text2{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(264);
              left: pxtorem(74);
              z-index: 3;
              opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(728);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            padding-left: pxtorem(18);
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(27);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .img6{
            width: pxtorem(629);
            height: pxtorem(629);
            background: url(../img/img6.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(70);
            right: pxtorem(-254); 
            z-index: 2;
            opacity: 0;
        }
      }
    
    
    
    .page9-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(110);
            left: pxtorem(-180);
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(528);
            right: pxtorem(112);
            z-index: 3;
            opacity: 0;
        }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(918);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(54);
              left: pxtorem(164);
              z-index: 3;
              opacity: 0;
          }
          .text2{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 10px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(264);
              left: pxtorem(74);
              z-index: 3;
              opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(728);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            padding-left: pxtorem(18);
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(27);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .img8{
            width: pxtorem(629);
            height: pxtorem(629);
            background: url(../img/img8.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(70);
            right: pxtorem(-254); 
            z-index: 2;
            opacity: 0;
        }
    }
    
    .page10-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(450);
            right: pxtorem(-178);
            z-index: 3;
            opacity: 0;
        }
        .cloud2{
            width: pxtorem(229);
            height: pxtorem(108);
            background: url(../img/cloud2.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(798);
            left: pxtorem(-70);
            z-index: 3;
            opacity: 0;
        }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(908);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .textFrame{
          .text{
              font-family: "text";
              font-size: pxtorem(80);
              letter-spacing: 4px;
              color: rgb(255, 215, 153);
              writing-mode: vertical-rl;
              position: absolute;
              top: pxtorem(160);
              right: pxtorem(40);
              z-index: 3;
              opacity: 0;
          }
          .text2{
            font-family: "text";
            font-size: pxtorem(80);
            letter-spacing: 4px;
            color: rgb(255, 215, 153);
            writing-mode: vertical-rl;
            position: absolute;
            top: 0;
            right: pxtorem(130);
            z-index: 3;
            opacity: 0;
          }
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(578);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(27);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .img9{
            width: pxtorem(429);
            height: pxtorem(424);
            background: url(../img/img9.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(90);
            left: pxtorem(-10); 
            z-index: 2;
            opacity: 0;
        }
    }

    .page11-bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(60);
            left: pxtorem(-130);
            opacity: 0;
            z-index: 3;
        }
        .cloud2{
            width: pxtorem(229);
            height: pxtorem(108);
            background: url(../img/cloud2.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(400);
            right: pxtorem(-60);
            z-index: 3;
            opacity: 0;
        }
        .textFrame2{
            position: absolute;
            left: 50%;
            top: pxtorem(558);
            transform: translateX(-50%) scale(1.2, 1.2);
            width: 90%;
            opacity: 0;
            .text{
                font-family: "text";
                font-size: pxtorem(26);
                letter-spacing: 2px;
                color: rgb(255, 235, 202);
                line-height: 1.4;
                text-align: center;
            }
          }
        .divider{
            width: pxtorem(431);
            height: pxtorem(31);
            background: url(../img/divider.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(908);
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
        }
        .img10{
            width: pxtorem(566);
            height: pxtorem(352);
            background: url(../img/img10.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(100);
            left: 50%; 
            transform: translateX(-50%);
            z-index: 2;
            opacity: 0;
        }
    }
  .page12-bg{
      height: 100%;
      width: 100%;
      background-color: #c21e20;
      .qt-Bg{
        position: absolute;
        width: pxtorem(640);
        height: pxtorem(1008);
        background: url(../img/12-bg.png);
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .cloud1{
            width: pxtorem(310);
            height: pxtorem(99);
            background: url(../img/cloud1.png);
            background-size: 100% 100%;
            position: absolute;
            top: pxtorem(60);
            left: pxtorem(-130);
            opacity: 0;
            z-index: 3;
        }
        .textFrame{
          position: absolute;
          left: 50%;
          top: pxtorem(723);
          transform: translateX(-50%);
          width: 90%;
          .name{
            font-family: "text";
            font-size: pxtorem(32);
            color: #fbedd8;
            line-height: 1.8;
            text-align: center;
            font-weight: bold;
          }
          .text{
              font-family: "text";
              font-size: pxtorem(26);
              color: #fbedd8;
              line-height: 1.4;
              text-align: center;
          }
        }
        .inputName{
          border: none;
          font-size: pxtorem(26);
          line-height: pxtorem(44);
          width: pxtorem(360);
          height: pxtorem(40);
          margin-top: pxtorem(26);
          text-align: center;
        }
        .upBtn{
          width: pxtorem(300);
          height: pxtorem(80);
          background-color: #be4e21;
          margin:pxtorem(40) auto;
          font-size: pxtorem(26);
          line-height: pxtorem(80);
          color: #fff;
        }
        .QR{
            width: pxtorem(88);
            height: pxtorem(88);
            position: absolute;
            right: pxtorem(40);
            bottom: pxtorem(20);
            background: url(../img/QR.jpg);
            background-size: 100% 100%;
        }
        .imgBg{
            width: pxtorem(468);
            height: pxtorem(468);
            position: absolute;
            top: pxtorem(251);
            left: pxtorem(86); 
            z-index: 3;
            border-radius: pxtorem(468);
            overflow: hidden;
            img{
              width: 100%;
              height: auto;
              display: block;
            }
        }
      }
      
  }

  .page13-bg{
    height: 100%;
    width: 100%;
    background-color: #9d1416;
    .text2024{
      position: absolute;
      width: pxtorem(142);
      height: pxtorem(62);
      background: url(../img/2024Text.png) no-repeat;
      background-size: 100% 100%;
      right: pxtorem(20);
      top: pxtorem(30);
      z-index: 90;
    }
    .qt-Bg{
      position: absolute;
      width: 100%;
      height: pxtorem(1008);
      background: url(../img/13-bg.png);
      background-position: center -4px;
      background-size: 100% 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .photoFrame{
          width: pxtorem(540);
          height: pxtorem(540);
          background: url(../img/photoFrame.png);
          background-size: 100% 100%;
          position: absolute;
          top: pxtorem(90);
          left: pxtorem(214);
          z-index: 5;
      }
      .photoBg{
        width: pxtorem(520);
        height: pxtorem(520);
        border: none;
        // right: pxtorem(-114);
        margin: pxtorem(100) 0 0 pxtorem(224);
        z-index: 3;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
          display: block;
          border: none;
        }
      }
      .cloud1{
          width: pxtorem(310);
          height: pxtorem(99);
          background: url(../img/cloud1.png);
          background-size: 100% 100%;
          position: absolute;
          top: pxtorem(60);
          left: pxtorem(-130);
          opacity: 0;
          z-index: 3;
      }
      .textFrame2{
        position: absolute;
        left:pxtorem(34);
        top: pxtorem(116);
        z-index: 6;
        overflow: hidden;
        .name{
          font-family: "text";
          font-size: pxtorem(60);
          color: #f8d09b;
          line-height: 1;
          text-align: center;
          float: right;
          width: pxtorem(60);
          text-align: center;
        }
        .text{
            font-family: "text";
            font-size: pxtorem(52);
            color: #f8d09b;
            line-height: 1.1;
            text-align: center;
            margin-top: pxtorem(-60);
            float: right;
            width: pxtorem(52);
        }
        .zfBg{
          width: pxtorem(122);
          height: pxtorem(733);
          float: right;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
      .textFrame3{
        position: absolute;
        left:pxtorem(54);
        top: pxtorem(40);
        z-index: 6;
        overflow: hidden;
        .text{
            font-family: "text";
            font-size: pxtorem(52);
            color: #f8d09b;
            line-height: 1.1;
            text-align: center;
            float: right;
            width: pxtorem(62);
        }
        .zfBg{
          width: pxtorem(122);
          height: pxtorem(733);
          float: right;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
      .textFrame4{
        position: absolute;
        left: 50%;
        top: pxtorem(723);
        transform: translateX(-50%);
        width: 90%;
      }
      .inputName{
        border: solid 5px #be4e21;
        font-size: pxtorem(38);
        line-height: pxtorem(66);
        width: pxtorem(360);
        height: pxtorem(60);
        text-align: center;
        border-radius: 15px;
      }
      .upBtn{
        width: pxtorem(300);
        height: pxtorem(80);
        background-color: #be4e21;
        margin:pxtorem(40) auto;
        font-size: pxtorem(26);
        line-height: pxtorem(80);
        color: #fff;
      }
      .QRBg{
          width: pxtorem(165);
          height: pxtorem(224);
          position: absolute;
          right: pxtorem(38);
          bottom: pxtorem(30);
          background: url(../img/QRBg.png);
          background-size: 100% 100%;
          .QRcode{
            width: pxtorem(100);
            height: pxtorem(100);
            background: url(../img/QRcode.png);
            background-size: 100% 100%;
            margin: pxtorem(70) 0 0 pxtorem(31);
          }
      }
      
    }
    
}
.setXZ{
  animation:xzdh 3s linear infinite; 
}
.setDH{
    .rotateInDownLeft{
        animation:rotateInDownLeft; 
        animation-duration: 2s;
        display: block;
    }
    .fadeInLeft{
        animation:fadeInLeft; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }
    .fadeInLeft-delay{
        animation:fadeInLeft; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
        animation-delay: 1s;
    }
    .fadeInRight{
        animation:fadeInRight; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }
    .fadeInRight-delay{
        animation:fadeInRight; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
        animation-delay: 1s;
    }
    .fadeInDown{
        animation:fadeInDown; 
        animation-duration: 2s ;
        animation-delay: 1s;
        animation-fill-mode:forwards;
    }
    .fadeInUp{
        animation:fadeInUp; 
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode:forwards;//停留在动画最后状态
    }
    .zoomIn{
        animation:zoomIn; 
        animation-duration: 2s;
        display: block !important;
    }
    .heartBeat{
        animation:heartBeat; 
        animation-duration: 2s;
        display: block !important;
    }
    .centerZoom{
        animation:centerZoom; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }
    .centerZoomD{
        animation:centerZoomD; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }
    .setRotateIn{
        animation:setRotateIn; 
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode:forwards;
    }
    .fadeInUpCenter{
        animation:fadeInUpCenter; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }
    .fadeInUpCenter-delay{
        animation:fadeInUpCenter; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
        animation-delay: 1s;
    }
    .rollInRight{
        animation:rollInRight; 
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }
    .setFlip{
        animation:setFlip; 
        animation-duration: 0.5s;
        animation-fill-mode:forwards;
    }
    
    @keyframes centerZoom {
        from {
          opacity: 0;
          transform: translate(-50%,-50%) scale(1.8, 1.8);
        }
      
        to {
          opacity: 1;
          transform: translate(-50%,-50%) scale(1.2, 1.2);
        }
      }
      @keyframes centerZoomD {
        from {
          opacity: 0;
          transform: translateX(-50%) scale(0.1, 0.1);
        }
      
        to {
          opacity: 1;
          transform: translateX(-50%) scale(1, 1);
        }
      }
      @-webkit-keyframes ascenterZoomk {
        from {
          opacity: 0;
          transform: translate(-50%,-50%) scale(1.8, 1.8);
        }
        to {
          opacity: 1;
          transform: translate(-50%,-50%) scale(1.1, 1.1);
        }
      }
      @keyframes setRotateIn {
        from {
          -webkit-transform:translateX(-50%) rotate3d(0, 0, 1, -200deg);
          transform:translateX(-50%) rotate3d(0, 0, 1, -200deg);
          opacity: 0;
        }
      
        to {
          -webkit-transform:translateX(-50%) translate3d(0, 0, 0);
          transform:translateX(-50%) translate3d(0, 0, 0);
          opacity: 1;
        }
      }
      @-webkit-keyframes setRotateIn{
        from {
          -webkit-transform:translateX(-50%) rotate3d(0, 0, 1, -200deg);
          transform:translateX(-50%) rotate3d(0, 0, 1, -200deg);
          opacity: 0;
        }
      
        to {
          -webkit-transform:translateX(-50%) translate3d(0, 0, 0);
          transform:translateX(-50%) translate3d(0, 0, 0);
          opacity: 1;
        }
      }
      @keyframes fadeInUpCenter {
        from {
          opacity: 0;
          -webkit-transform:translateX(-50%) translate3d(0, 100%, 0) scale(1.2, 1.2) ;
          transform:translateX(-50%) translate3d(0, 100%, 0) scale(1.2, 1.2) ;
        }
      
        to {
          opacity: 1;
          -webkit-transform:translateX(-50%) translate3d(0, 0, 0) scale(1.2, 1.2);
          transform:translateX(-50%) translate3d(0, 0, 0) scale(1.2, 1.2) ;
        }
      }
      @-webkit-keyframes fadeInUpCenter{
        from {
            opacity: 0;
            -webkit-transform:translateX(-50%) translate3d(0, 100%, 0) scale(1.2, 1.2) ;
            transform:translateX(-50%) translate3d(0, 100%, 0) scale(1.2, 1.2) ;
          }
        
          to {
            opacity: 1;
            -webkit-transform:translateX(-50%) translate3d(0, 0, 0) scale(1.2, 1.2);
            transform:translateX(-50%) translate3d(0, 0, 0) scale(1.2, 1.2) ;
          }
      }
      @keyframes rollInRight {
        from {
          opacity: 0;
          -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
          transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
        }
      
        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      @-webkit-keyframes rollInRight{
        from {
          opacity: 0;
          -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
          transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
        }
      
        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      @keyframes xzdh {
        from {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
      
        to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      @-webkit-keyframes xzdh{
        from {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
      
        to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes setFlip{
        from {
          -webkit-transform: translateX(-50%) perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
          transform: translateX(-50%) perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 180deg);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
        }
      
       
      
        to {
          -webkit-transform: translateX(-50%) perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
          transform: translateX(-50%) perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
        }
      }

}
@media  screen and (max-width: 389px) {
  .page1-bg{
    .textFrame{
      .text{
          left: pxtorem(200);
      }
      .text2{
          right: pxtorem(186);
      }
    }
  }
  .page3-bg{
    .textFrame{
      .text{
          left: pxtorem(198);
      }
      .text2{
          right: pxtorem(190);
      }
    }
    .textFrame2{
        .text{
            font-size: pxtorem(24);
        }
      }
  }

}

@media  screen and (max-height: 752px) {
  #page1-bg{
    .logo{
      display: none !important;
    }
    .text2024Logo{
      display: none !important;
    }
  }
  #page3-bg{
    .logo{
      display: none !important;
    }
    .text2024Logo{
      display: none !important;
    }
  }

}